* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
}

h1, h2 {
    margin: 0 0 10px 0;
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 5px;
    text-align: left;
}

button {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.hero-details-card {
    margin-right: 20px;
    align-self: flex-start;
}

.hero-details-card p {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    position: relative;
}

.champion-display-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-details-card {
    flex: 1;
    text-align: center;
}

#michal-hero-image, #daniel-hero-image {
    max-width: 100%;
    height: auto;
}

.vs-container {
    margin: 0 20px;
}

input[name="tabs"] {
    display: none;
}

.tab-label {
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab-label:hover {
    background-color: #45a049;
}

input[name="tabs"]:checked + .tab-label {
    background-color: #388E3C;
    border-bottom: 2px solid #2E7D32;
}

.tab-content {
    text-align: center;
    display: none;
    padding-top: 20px;
}

#tab1:checked ~ .tab-content[data-tab="1"],
#tab2:checked ~ .tab-content[data-tab="2"],
#tab3:checked ~ .tab-content[data-tab="3"],
#tab4:checked ~ .tab-content[data-tab="4"],
#tab5:checked ~ .tab-content[data-tab="5"] {
    display: block;
}

.red-color {
    background-color: red;
    color: white;
}

.blue-color {
    background-color: blue;
    color: white;
}


