<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroes 3 Battle Simulator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <h1>Heroes 3 Battle Simulator</h1>
</header>

<section>
    <h2>Generated Matches</h2>
    <button id="generateMatchesButton" onclick="window.location.href='/matches'">Generate Matches</button>
    <table id="matches-table">
    </table>
</section>

<section>
    <h2>Re-roll Champion</h2>
    <input id="banned-hero" type="text" placeholder="banned hero">
    <button id="rerollChampionButton">Re-roll Champion</button>
</section>

<section>
    <h2>Re-roll Champions</h2>
    <input id="michal-banned-hero" type="text" placeholder="Michal's banned hero">
    <input id="daniel-banned-hero" type="text" placeholder="Daniel's banned hero">
    <button id="rerollChampionsButton">Re-roll Champions</button>
</section>


<section>
    <h2>Hero Details</h2>
    <select id="hero-select">
        <option value="ORIN">ORIN</option>
        <option value="VALESKA">VALESKA</option>
        <option value="EDRIC">EDRIC</option>
        <option value="SYLVIA">SYLVIA</option>
        <option value="SORSHA">SORSHA</option>
        <option value="TYRIS">TYRIS</option>
        <option value="LYONIS">LYONIS</option>
        <option value="MEPHALA">MEPHALA</option>
        <option value="JENOVA">JENOVA</option>
        <option value="GISELLE">GISELLE</option>
        <option value="IVOR">IVOR</option>
        <option value="CLANCY">CLANCY</option>
        <option value="KYRRE">KYRRE</option>
        <option value="ELLESHAR">ELLESHAR</option>
        <option value="AERIS">AERIS</option>
        <option value="PIQUE">PIQUE</option>
        <option value="JOSEPHINE">JOSEPHINE</option>
        <option value="NEELA">NEELA</option>
        <option value="FAFNER">FAFNER</option>
        <option value="RISSA">RISSA</option>
        <option value="IONA">IONA</option>
        <option value="SOLMYR">SOLMYR</option>
        <option value="FIONA">FIONA</option>
        <option value="MARIUS">MARIUS</option>
        <option value="IGNATIUS">IGNATIUS</option>
        <option value="CALH">CALH</option>
        <option value="PYRE">PYRE</option>
        <option value="NYMUS">NYMUS</option>
        <option value="AYDEN">AYDEN</option>
        <option value="ZYDAR">ZYDAR</option>
        <option value="STRAKER">STRAKER</option>
        <option value="RANLOO">RANLOO</option>
        <option value="VOKIAL">VOKIAL</option>
        <option value="MOANDOR">MOANDOR</option>
        <option value="CHARNA">CHARNA</option>
        <option value="TAMIKA">TAMIKA</option>
        <option value="ISRA">ISRA</option>
        <option value="VIDOMINA">VIDOMINA</option>
        <option value="CLAVIUS">CLAVIUS</option>
        <option value="SANDRO">SANDRO</option>
        <option value="THANT">THANT</option>
        <option value="NAGASH">NAGASH</option>
        <option value="LORELEI">LORELEI</option>
        <option value="ARLACH">ARLACH</option>
        <option value="DACE">DACE</option>
        <option value="AJIT">AJIT</option>
        <option value="GUNNAR">GUNNAR</option>
        <option value="SHAKTI">SHAKTI</option>
        <option value="ALAMAR">ALAMAR</option>
        <option value="JAEGAR">JAEGAR</option>
        <option value="MALEKITH">MALEKITH</option>
        <option value="JEDDITE">JEDDITE</option>
        <option value="DEEMER">DEEMER</option>
        <option value="YOG">YOG</option>
        <option value="GURNISSON">GURNISSON</option>
        <option value="JABARKAS">JABARKAS</option>
        <option value="SHIVA">SHIVA</option>
        <option value="GRETCHIN">GRETCHIN</option>
        <option value="KRELLION">KRELLION</option>
        <option value="CRAG_HACK">CRAG_HACK</option>
        <option value="TYRAXOR">TYRAXOR</option>
        <option value="DESSA">DESSA</option>
        <option value="GUNDULLA">GUNDULLA</option>
        <option value="BRON">BRON</option>
        <option value="DRAKON">DRAKON</option>
        <option value="WYSTAN">WYSTAN</option>
        <option value="TAZAR">TAZAR</option>
        <option value="ALKIN">ALKIN</option>
        <option value="KORBAC">KORBAC</option>
        <option value="GERWULF">GERWULF</option>
        <option value="BROGHILD">BROGHILD</option>
        <option value="ROSIC">ROSIC</option>
        <option value="VOY">VOY</option>
        <option value="PASIS">PASIS</option>
        <option value="THUNAR">THUNAR</option>
        <option value="IGNISSA">IGNISSA</option>
        <option value="LACUS">LACUS</option>
        <option value="MONERE">MONERE</option>
        <option value="ERDAMON">ERDAMON</option>
        <option value="FIUR">FIUR</option>
        <option value="KALT">KALT</option>
        <option value="LUNA">LUNA</option>
        <option value="BRISSA">BRISSA</option>
        <option value="CORKES">CORKES</option>
        <option value="JEREMY">JEREMY</option>
        <option value="ILLOR">ILLOR</option>
        <option value="ELMORE">ELMORE</option>
        <option value="ANABEL">ANABEL</option>
        <option value="CASSIO">CASSIO</option>
        <option value="MIRIAM">MIRIAM</option>
        <option value="EOVACIUS">EOVACIUS</option>
        <option value="SPINT">SPINT</option>
    </select>

    <button id="getHeroDetailsButton">Get Details</button>
    <div id="hero-details">
    </div>
</section>

<footer>
    <p>&copy; 2023 D&D Co. All rights reserved.</p>
</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const heroDetailsDiv = $("#hero-details");

        $("#rerollChampionButton").click(function () {
            var bannedHero = $("#banned-hero").val();
            $.post("/api/game/reroll-champion", { bannedHero }, function (data) {
                heroDetailsDiv.html(
                    `<p>Hero: ${data.hero}</p>
                <p>Spec: ${data.spec}</p>
                <p>Primary Skill: ${data.primarySkillset.skill}</p>
                <p>Secondary Skill: ${data.secondarySkillSet.skill}</p>`
                );
            });
        });

        $("#rerollChampionsButton").click(function () {
            var michalBannedHero = $("#michal-banned-hero").val();
            var danielBannedHero = $("#daniel-banned-hero").val();
            $.post("/api/game/reroll-champions", { michalBannedHero, danielBannedHero }, function (data) {
                heroDetailsDiv.html(
                    `<h3>Michal's Hero</h3>
                <p>Hero: ${data.michalHero.hero}</p>
                <p>Spec: ${data.michalHero.spec}</p>
                <p>Primary Skill: ${data.michalHero.primarySkillset.skill}</p>
                <p>Secondary Skill: ${data.michalHero.secondarySkillSet.skill}</p>
                <h3>Daniel's Hero</h3>
                <p>Hero: ${data.danielHero.hero}</p>
                <p>Spec: ${data.danielHero.spec}</p>
                <p>Primary Skill: ${data.danielHero.primarySkillset.skill}</p>
                <p>Secondary Skill: ${data.danielHero.secondarySkillSet.skill}</p>`
                );
            });
        });

        $(document).ready(function () {
            const heroDetailsDiv = $("#hero-details");

            $("#getHeroDetailsButton").click(function () {
                const selectedHero = $("#hero-select").val();

                $.get(`/api/game/hero-details/${selectedHero}`, function (data) {
                    heroDetailsDiv.empty();
                    heroDetailsDiv.append(`<p>Hero: ${data.hero}</p>`);
                    heroDetailsDiv.append(`<p>Spec: ${data.spec}</p>`);
                    heroDetailsDiv.append(`<p>Primary Skill: ${data.primarySkillSet.skill} - Level: ${data.primarySkillSet.level}</p>`);
                    heroDetailsDiv.append(`<p>Secondary Skill: ${data.secondarySkillSet.skill} - Level: ${data.secondarySkillSet.level}</p>`);
                });
            });
        });
    });
</script>
</html>
