<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Heroes 3 Battle Simulator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<input type="radio" id="tab1" name="tabs" checked>
<input type="radio" id="tab2" name="tabs">
<input type="radio" id="tab3" name="tabs">
<input type="radio" id="tab4" name="tabs">


<header>
    <h1>Heroes 3 Battle Simulator</h1>
    <nav>
        <label for="tab1" class="tab-label">Generate Matches</label>
        <label for="tab2" class="tab-label">Re-roll Champion</label>
        <label for="tab3" class="tab-label">Re-roll Champions</label>
        <label for="tab4" class="tab-label">Champion Details</label>
    </nav>
</header>

<div class="tab-content" data-tab="1">
    <section>
        <h2>Generate Matches </h2>
        <button id="generateMatchesButton">Generate Matches</button>
        <table id="matches-table">
            <thead>
            <tr>
                <th>Match Number</th>
                <th>Player</th>
                <th>Fraction</th>
                <th>Hero</th>
                <th>Color</th>
                <th>Reset Order</th>
                <th>Player</th>
                <th>Fraction</th>
                <th>Hero</th>
                <th>Color</th>
                <th>Reset Order</th>
            </tr>
            </thead>

            <tbody></tbody>
        </table>
    </section>
</div>

<div class="tab-content" data-tab="2">
    <section>
        <h2>Re-roll Champion</h2>
        <select id="banned-hero-select"></select>
        <p> </p>
        <button id="rerollChampionButton">Re-roll Champion</button>
        <div id="reroll-champion-details" class="hero-details-card"></div>
    </section>
</div>

<div class="tab-content" data-tab="3">
    <section>
        <h2>Re-roll Champions</h2>
        <button id="rerollChampionsButton">Re-roll Champions</button>
    </section>

    <section>
        <div class="champion-display-container">
            <div id="michal-hero-details" class="hero-details-card">
                <label for="michal-banned-hero">First Player Banned Champion</label>
                <p> </p>
                <select id="michal-banned-hero"></select>
                <p>Player 1's Hero</p>
                <img src="" alt="" id="michal-hero-image">
            </div>
            <div class="vs-container">VS</div>
            <div id="daniel-hero-details" class="hero-details-card">
                <label for="daniel-banned-hero">Second Player Banned Champion</label>
                <p> </p>
                <select id="daniel-banned-hero"></select>
                <p>Player 2's Hero</p>
                <img src="" alt="" id="daniel-hero-image">
            </div>
        </div>
    </section>

</div>

<div class="tab-content" data-tab="4">
    <section>
        <h2>Hero Details</h2>
        <select id="hero-select"></select>
        <p> </p>
        <button id="getHeroDetailsButton">Get Details</button>
        <div id="hero-details-container" class="details-container">
            <div id="hero-details" class="hero-details-card"></div>
            <div id="hero-image-container"></div>
        </div>
    </section>
</div>

<footer>
    <p>&copy; 2023 D&D Co. All rights reserved.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $.get("/api/game/heroes", function (data) {
            const dropdowns = [$("#hero-select"), $("#banned-hero-select"), $("#michal-banned-hero"), $("#daniel-banned-hero")];

            for (const dropdown of dropdowns) {
                for (const hero of data) {
                    dropdown.append(new Option(hero, hero));
                }
            }
        });

        const heroDetailsDiv = $("#hero-details");
        const rerollChampionDetailsDiv = $("#reroll-champion-details");

        const matchesTable = $("#matches-table");

        $("#generateMatchesButton").click(function () {
            $.get("/api/game/matches", function (data) {
                const matchesTableBody = $("#matches-table tbody");
                matchesTableBody.empty();

                for (const [index, match] of data.entries()) {
                    const michalColorImage = `<img src="/flags/${match.firstPlayer.color}.png" alt="${match.firstPlayer.color} flag" class="flag-icon">`;
                    const danielColorImage = `<img src="/flags/${match.secondPlayer.color}.png" alt="${match.secondPlayer.color} flag" class="flag-icon">`;

                    const row = ` <tr>
                    <td>Match ${index + 1}</td>
                    <td>${match.firstPlayer.name}</td>
                    <td><img src="/fraction/${match.firstPlayer.army.fraction}.png" alt="${match.firstPlayer.army.fraction}" style="width: 32px; height: 32px;"></td>
                    <td>${match.firstPlayer.army.hero}</td>
                    <td>${michalColorImage}</td>
                    <td>${match.firstPlayer.resetOrder}</td>
                    <td>${match.secondPlayer.name}</td>
                    <td><img src="/fraction/${match.secondPlayer.army.fraction}.png" alt="${match.secondPlayer.army.fraction}" style="width: 32px; height: 32px;"></td>
                    <td>${match.secondPlayer.army.hero}</td>
                    <td>${danielColorImage}</td>
                    <td>${match.secondPlayer.resetOrder}</td>
                </tr>`;

                    matchesTableBody.append(row);
                }
            });
        });

        $("#rerollChampionButton").click(function () {
            var bannedHero = $("#banned-hero-select").val();

            $.ajax({
                url: '/api/game/reroll-champion',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(bannedHero),
                success: function (data) {
                    rerollChampionDetailsDiv.empty();
                    rerollChampionDetailsDiv.append(`<img src="/images/${data}.png" alt="${data}">`);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $("#rerollChampionsButton").click(function () {
            var michalBannedHero = $("#michal-banned-hero").val();
            var danielBannedHero = $("#daniel-banned-hero").val();

            var heroPair = {
                michalHero: michalBannedHero,
                danielHero: danielBannedHero
            };

            $.ajax({
                url: '/api/game/reroll-champions',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(heroPair),
                success: function (data) {
                    $("#michal-hero-image").attr("src", `/images/${data.michalHero}.png`);
                    $("#daniel-hero-image").attr("src", `/images/${data.danielHero}.png`);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        $("#getHeroDetailsButton").click(function () {
            const selectedHero = $("#hero-select").val();

            $.get(`/api/game/hero-details/${selectedHero}`, function (data) {
                heroDetailsDiv.empty();
                heroDetailsDiv.append(`<img src="/images/${selectedHero}.png" alt="${selectedHero}">`);
            });
        });
    });
</script>
</html>
