<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generated Matches</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <h1>Generated Matches</h1>
</header>

<section>
    <table id="matches-table">
    </table>
</section>

<footer>
    <p>&copy; 2023 D&D Co. All rights reserved.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const matchesTable = $("#matches-table");

        $.get("/api/game/matches", function (data) {
            matchesTable.empty();

            data.forEach(match => {
                matchesTable.append(
                    `<tr>
                <td>${match.daniel.army.hero} (${match.michalArmy.fraction})</td>
                <td>${match.michalColor}</td>
                <td>${match.michalResetOrder}</td>
                <td>${match.danielArmy.hero} (${match.danielArmy.fraction})</td>
                <td>${match.danielColor}</td>
                <td>${match.danielResetOrder}</td>
            </tr>`
                );
            });
        });
    });
</script>
</body>
</html>
