<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<div th:fragment="statisticsContent">
    <section>
        <h2>Statistics</h2>
        <h2 th:text="'Michal vs Daniel'"></h2>
        <h1>Sezony</h1>
        <h1 th:text="${statistics.playerOneSetPoints() + ' : ' + statistics.playerTwoSetPoints()}"></h1>
        <h1 th:text="'Aktualny sezon: ' + 5"></h1>
        <h1>Mecze</h1>
        <h1 th:text="${statistics.playerOneMatchPoints() + ' : ' + statistics.playerTwoMatchPoints()}"></h1>
    </section>
</div>
</html>
